extends ./layouts/default
block title
  title Koa ForShow 首页
block content
  div.container
    div.row
      div.col-md-8
        h1 Hi, #{you}
        p This is #{me}
      div.col-md-4
          p 测试模板引擎中间件
