extends ./layouts/default

block title
  title Koa ForShow 首页

block content
  style.
    header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: #00474f;
      color: #E7DACB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      z-index: 500;
    }

    @media (min-width: 768px) {
      .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        border-right: 1px solid rgba(0,0,0,.1);
        order: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      .cat-links {
        display: block!important;
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: -15px;
        margin-left: -15px;
      }
    }

    .sidebar-link {
      display: block;
      padding: .25rem 1.5rem;
      font-weight: 500;
      color: rgba(0,0,0,.65);
    }

    .sidebar .nav > li > a {
      display: block;
      padding: .25rem 1.5rem;
      font-size: 90%;
      color: rgba(0,0,0,.65);
    }

    .sidebar-item.active > .sidebar-inner {
      display: block;
    }
    .card {
      margin-bottom: 1.5rem;
    }
    .switcher {
      position: relative;
      padding: 1rem 15px;
      margin-right: -15px;
      margin-left: -15px;
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .sidebar-toggle {
      line-height: 1;
      color: #212529;
    }
    .p-0 {
      padding: 0!important;
    }
    .ml-3, .mx-3 {
      margin-left: 1rem!important;
    }
    .btn-link {
      font-weight: 400;
      color: #007bff;
      background-color: transparent;
    }
    
  include ./includes/header

  .container-fluid
    .row
      .col-12.col-md-3.col-xl-2.sidebar
        .collapse.cat-links
          .sidebar-item.active
            a.sidebar-link(href='/') Links
            ul.nav.sidebar-inner
              li.active.sidebar-inner-active
                a(href='/') Link1
              li.sidebar-inner-active
                a(href='/') Link2
      .col-12.col-md-9.col-xl-9.py-md-3.pl-md-5.content
        .row
          .col-md-6
            .card
              img.card-img-top(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2519070834.webp',data-video='http://180.96.69.24/vhot2.qqvideo.tc.qq.com/AHaqy1jvS0DEJzODJfuNzGDMeNh1hADVQRQVt-kIE3KM/n0397v0xidp.p712.1.mp4?sdtfrom=v1010&guid=de92305288308b68465da93580e0f0ce&vkey=6C7A6B198784BAD82E17B4A978267BDD931E35847925898B97EE5438DE13629BEB9C3E8175816794C2D58E884291EE96493FC058977E2CB594BEF22E1D4ADD1F649FDC96EF7BDDE2FFAC7BD2196DE2DCDF413081877FB90C4153BDA57270575E9DD1566BCBABA569FD30A198DB93CE3CB42365A9E8A4A6F5')
              .card-body
                h4.card-title 我不是药神
                p.card-desc 一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开......
              .card-footer
                small.text-muted 1 天前更新
          .col-md-6
            .card
              img.card-img-top(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2526297221.webp',data-video='http://180.96.69.24/vhot2.qqvideo.tc.qq.com/AHaqy1jvS0DEJzODJfuNzGDMeNh1hADVQRQVt-kIE3KM/n0397v0xidp.p712.1.mp4?sdtfrom=v1010&guid=de92305288308b68465da93580e0f0ce&vkey=6C7A6B198784BAD82E17B4A978267BDD931E35847925898B97EE5438DE13629BEB9C3E8175816794C2D58E884291EE96493FC058977E2CB594BEF22E1D4ADD1F649FDC96EF7BDDE2FFAC7BD2196DE2DCDF413081877FB90C4153BDA57270575E9DD1566BCBABA569FD30A198DB93CE3CB42365A9E8A4A6F5')
              .card-body
                h4.card-title 邪不压正
                p.card-desc 北洋年间，北京以北。习武少年李天然目睹师兄朱潜龙勾结日本特务根本一郎，杀害师父全家。李天然侥幸从枪下逃脱，被美国医生亨德勒救下
              .card-footer
                small.text-muted 1 天前更新
        .row
          .col-md-6
            .card
              img.card-img-top(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2519070834.webp',data-video='http://180.96.69.24/vhot2.qqvideo.tc.qq.com/AHaqy1jvS0DEJzODJfuNzGDMeNh1hADVQRQVt-kIE3KM/n0397v0xidp.p712.1.mp4?sdtfrom=v1010&guid=de92305288308b68465da93580e0f0ce&vkey=6C7A6B198784BAD82E17B4A978267BDD931E35847925898B97EE5438DE13629BEB9C3E8175816794C2D58E884291EE96493FC058977E2CB594BEF22E1D4ADD1F649FDC96EF7BDDE2FFAC7BD2196DE2DCDF413081877FB90C4153BDA57270575E9DD1566BCBABA569FD30A198DB93CE3CB42365A9E8A4A6F5')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 北洋年间，北京以北。习武少年李天然目睹师兄朱潜龙勾结日本特务根本一郎，杀害师父全家。李天然侥幸从枪下逃脱，被美国医生亨德勒救。 
              .card-footer
                small.text-muted 1 天前更新
          .col-md-6
            .card
              img.card-img-top(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2526297221.webp',data-video='http://180.96.69.24/vhot2.qqvideo.tc.qq.com/AHaqy1jvS0DEJzODJfuNzGDMeNh1hADVQRQVt-kIE3KM/n0397v0xidp.p712.1.mp4?sdtfrom=v1010&guid=de92305288308b68465da93580e0f0ce&vkey=6C7A6B198784BAD82E17B4A978267BDD931E35847925898B97EE5438DE13629BEB9C3E8175816794C2D58E884291EE96493FC058977E2CB594BEF22E1D4ADD1F649FDC96EF7BDDE2FFAC7BD2196DE2DCDF413081877FB90C4153BDA57270575E9DD1566BCBABA569FD30A198DB93CE3CB42365A9E8A4A6F5')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
              .card-footer
                small.text-muted 1 天前更新
  #myModal.modal.fade.bd-example-modal-lg(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel",aria-hidden="true")
    .modal-dialog.modal-lg
      #videoModal.modal-content

  include ./includes/script
  script.
    let player = null
    $(document).ready(function() {
      $('#myModal').on('hidden.bs.modal',function(e) {
        if(player&&player.pause) player.pause()
      })
      $('.card-img-top').click(function(e) {
        let videoSrc = $(this).data('video')
        let imageSrc = $(this).attr('src')
        $('#myModal').modal('show')
        if(!player) {
          player = new DPlayer({
            container: document.getElementById('videoModal'),
            screenshot: true,
            video: {
              url: videoSrc,
              pic: imageSrc,
              thumbnails: imageSrc
            }
          })
        } else {
          if(player.video.currentSrc !== video) {
            player.switchVideo({
              url: videoSrc,
              pic: imageSrc,
              thumbnails: imageSrc
            })
          } 
        }
      })
    })
