{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node":{
            "node": "current"
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",{
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}